!= HTML.Form('/auth/register', 'form_register', false)

!= HTML.InputLine('Username', params[:Username])
!= HTML.InputLine('Password', params[:Password], 'password')
!= HTML.InputLine('Email', params[:Email])

!= HTML.Submit
	
!= HTML.Form