- content = :empty unless defined? content

!= haml :'templating/head', :locals => data if ajax.render? :head

!= haml :'templating/initialbody', :locals => {:data => data, :user => data[:user], :content => content}   if ajax.render? :initialbody

!= haml content, :locals => data if !ajax.render? :initialbody and content != nil

!= haml :'templating/footer', :locals => data  if ajax.render? :footer

!= haml :'templating/end', :locals => data  if ajax.render? :end