%div
	.ui-corner-left.ui-widget-content.padding-10(style="float:left")
		!= HTML::Link('/character/profile/' + character.name, character.name)
	.ui-state-error.padding-10(style="float:left")
		!= character.hp.to_s + 'HP'
	.ui-state-highlight.padding-10(style="float:left")
		!= character.ap.to_s + 'AP'
	.ui-widget-content.padding-10(style="float:left")
		!= character.xp.to_s + 'XP'
	.ui-widget-content.padding-10(style="float:left;border-left:none")
		!= 'Lv' + character.level.to_s
	.ui-corner-right.ui-widget-content.padding-10(style="float:left;border-left:none")
		!= character.cp.to_s + 'CP'
	.clear-left(style="padding-top:10px;display:block;min-height:39px;")
		- hide_minor_actions = "ui-helper-hidden" unless defined? minor_actions and minor_actions != nil
		!= "<div id=\"game_minor_actions\" class=\"padding-10 ui-state-highlight ui-corner-all #{hide_minor_actions}\">"
		!= minor_actions if defined? minor_actions and minor_actions != nil
		!= "</div>"
		- hide_minor_warnings = "ui-helper-hidden" unless defined? minor_warnings and minor_warnings != nil
		!= "<div id=\"game_minor_warnings\" class=\"padding-10 ui-state-error ui-corner-all #{hide_minor_warnings}\">"
		!= minor_warnings if defined? minor_warnings and minor_warnings != nil
		!= "</div>"
	.clear-left
.padding-10(style="position:absolute;height:100%;left:10px;right:405px;")
	%h3.ui-corner-top.ui-widget-header
		Details
	.ui-corner-bottom.ui-widget-content
		#activity_log.ui-corner-all.ui-widget-content.margin-10(style="overflow:auto;height:100px")
			%ul.list-plain
				- character.log.reverse_each do |log|
					%li
						!= log.timestamp.getutc.strftime("%Y-%m-%d %H:%M:%S") + ' ' + log.message
		
		.padding-10
			%p
				You are dead.
			!= HTML.Link('/game/respawn', 'Respawn', 'button margin-10', '#page_content nohash')
.padding-10(style="position:absolute;width:375px;height:100%;right:10px;margin-top:15px")
	#right_panel
		%ul
			%li
				%a(href="#map" rel="no_ajax")
					Map
			%li
				%a(href="#inventory" rel="no_ajax")
					Inventory
		#map.ui-corner-bottom.ui-widget-content(style="padding:0px")
			- curtile = -1
			- (1..25).each do |tile|
				- curtile = (curtile + 1) % 5
				!= "<div class=\"maptile#{ curtile == 0 ? ' clear-left' : '' }\" style=\"background-color:black\">"
				!= '<img style="position:absolute;bottom:0px;left:0px" src="/img/person.png"/>' if tile == 13
				!= "</div>"
		#inventory