.ui-helper-hidden
	%input#ws_authentication_token(type="hidden" name="ws_authentication_token" value="#{character.owner.auth_token}")
	%input#ws_character(type="hidden" name="ws_character" value="#{character.name}")
	:plain
		<script>
		deWorde.connect();
		</script>
%div
	.ui-corner-left.ui-widget-content.padding-10(style="float:left")
		!= HTML::Link('/character/profile/' + character.name, character.name)
	.ui-state-error.padding-10(style="float:left")
		!= character.hp.to_s + 'HP'
	.ui-state-highlight.padding-10(style="float:left")
		!= character.ap.to_s + 'AP'
	.ui-widget-content.padding-10(style="float:left")
		!= character.xp.to_s + 'XP'
	.ui-widget-content.padding-10(style="float:left;border-left:none")
		!= 'Lv' + character.level.to_s
	.ui-corner-right.ui-widget-content.padding-10(style="float:left;border-left:none")
		!= character.cp.to_s + 'CP'
	.clear-left(style="padding-top:10px;display:block;min-height:39px;")
		- hide_minor_actions = "ui-helper-hidden" unless defined? minor_actions and minor_actions != nil
		!= "<div id=\"game_minor_actions\" class=\"padding-10 ui-state-highlight ui-corner-all #{hide_minor_actions}\">"
		!= minor_actions if defined? minor_actions and minor_actions != nil
		!= "</div>"
		- hide_minor_warnings = "ui-helper-hidden" unless defined? minor_warnings and minor_warnings != nil
		!= "<div id=\"game_minor_warnings\" class=\"padding-10 ui-state-error ui-corner-all #{hide_minor_warnings}\">"
		!= minor_warnings if defined? minor_warnings and minor_warnings != nil
		!= "</div>"
	.clear-left
.padding-10(style="position:absolute;height:100%;left:10px;right:405px;")
	%h3.ui-corner-top.ui-widget-header
		Details
	.ui-corner-bottom.ui-widget-content
		#activity_log.ui-corner-all.ui-widget-content.margin-10(style="overflow:auto;height:100px")
			%ul.list-plain
				- character.log.reverse_each do |log|
					%li
						!= log.timestamp.getutc.strftime("%Y-%m-%d %H:%M:%S") + ' ' + log.message
		
		.padding-10
			!= HTML.Form('/game/speak', 'form_speak', nil, {'data-wordeform' => '1', 'data-postworde' => "$('#form_speak input[name=message]').val('');"})
			%input(type="hidden" name="type" value="speech")
			%input(type="text" name="message" value="" style="margin-right:1%;display:inline;width:80%;")
			!= HTML.Submit("Speak")	
			!= HTML.Form
		%p
			%b
				!= character.location.name + ', ' + character.location.type.name + ' (' + character.location.x.to_s + ', ' + character.location.y.to_s + ', ' + character.location.plane.name + ')'
		%p
			!= character.location.description
		- if character.location.occupants.count > 1
			%p
				You can see #{(character.location.occupants.count - 1).to_s} other #{character.location.occupants.count == 2 ? 'person' : 'people'} at this location:
			%ul
				- character.location.occupants.each do |occupant|
					- if character.name != occupant.name
						%li
							!= HTML.Link('/character/profile/' + occupant.name, occupant.name)
		!= HTML.Link('/game/search', 'Search', 'button margin-10', '#page_content nohash')
		
		

.padding-10(style="position:absolute;width:375px;height:100%;right:10px;margin-top:15px")
	#right_panel
		%ul
			%li
				%a(href="#map" rel="no_ajax")
					Map
			%li
				%a(href="#inventory" rel="no_ajax")
					Inventory
		#map.ui-corner-bottom.ui-widget-content(style="padding:0px")
			- curtile = -1
			- character.location.surrounds.each do |tile|
				- curtile = (curtile + 1) % 5
				- if tile == nil then
					!= "<div class=\"maptile#{ curtile == 0 ? ' clear-left' : '' }\" style=\"background-color:black\">"
					!= "</div>"
				- else
					!= "<div class=\"maptile#{ curtile == 0 ? ' clear-left' : '' }\" style=\"background-color:#{tile.type.colour}\">#{tile.name == nil ? tile.type.name : tile.name}"
					!= '<img style="position:absolute;bottom:0px;right:0px" src="/img/otherperson.png"/>' if tile.occupants.count > (character.location == tile ? 1 : 0)
					- if character.location == tile
						!= '<img style="position:absolute;bottom:0px;left:0px" src="/img/person.png"/>' if character.location == tile
					- else
						!= HTML.Link('/game/move/' + tile.object_id.to_s, 'Move', 'button move_button', '#page_content nohash') if (character.location.x - tile.x).abs < 2 and (character.location.y - tile.y).abs < 2
					!= '</div>'
		#inventory
			#inventory_accordion
				- character.inventory_by_category.keys.each do |cat|
					- unless cat.name == "Hidden" then
						%h3
							!= cat.name
						%div(style="padding-top:0px;padding-bottom:0px")
							%ul
								- character.inventory_by_category[cat].each do |item|
									%li
										!= item.type.name + ' '
										!= HTML.Link('/game/drop/' + item.id.to_s, '<img src="/img/turd20.png" alt="Drop" title="Drop" />', '', '#page_content nohash')